body{ 
    margin: 0;
}
/* .test{ */
    /* width: 200px;
    height: 250px;
    background-color: brown;
    margin: 100px auto;
    box-shadow: -10px -6px 10px teal; */
   
  

h1{
    text-shadow: 2px 3px teal;
    text-align: center;
    margin: 200px auto;
}

